{% extends 'article/base.html' %}
{% block title %}
上传视频
{% endblock %}

{% block styles %}
{{super()}}
<style>
        .first {
            width: 50%;
            float:left;
            height: 1000px;
        }
        .second {
            width: 50%;
            float:right;
            height: 1000px;
        }
        .picture {
            width: 100%;
            float: center;
            height: 1000px;
        }

</style>
{% endblock %}

{% block newcontent %}
<body>
<div id="container">
    <div id="main" class="row">
        <div>
            <div id="left" class="col-md-6" align="center">
                <h1>视频上传</h1>
                <form action="{{url_for('user.video_upload')}}" method="POST" enctype="multipart/form-data">
                    <p><input type="file" id="exampleInputFile" name="video"></p>
                        <video controls="controls" width="600" height="500">
                            <source src="{% if user.video %}{{ url_for('static',filename=user.video)}} {% else %}{{ url_for('static',filename='videos/test.mp4')}} {% endif%}" type="video/mp4"/>
                        </video>
                </form>
            </div>
            <div id="right" class="col-md-6" align="center">
                <h1>处理结果</h1>
                <form  action="" method="POST" enctype="multipart/form-data">
                <p>
                    <video controls="controls" width="600" height="500">
                        <source src="{% if user.new_video %}{{ url_for('static',filename=user.new_video)}} {% else %}{{ url_for('static',filename='videos/test.mp4')}} {% endif%}" type="video/mp4"/>
                    </video>
                </p>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}